/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 800 */

.eb-garamond-body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the body takes the full height */
  flex: 1; /* Allows the main content to grow and push footer down */

  font-family: "Overpass", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #fff;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  color: #555555;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden; /* Prevents horizontal scrolling */
  overflow-y: auto; /* Allows vertical scrolling if necessary */
}

#root { /* Assuming your main div is with id "root" */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures it takes the full height of the viewport */
}
